@media screen and (max-width: 900px){
    .myIntro .introToName{
        font-family: 'Roboto Mono', monospace;
        font-size: 6vw;
        color: #F5F5DC;
        font-weight: lighter;
        padding-left: .75%;
        
      }
      .myIntro p{
        width:100%;
        line-height: 2rem;
      }
      
}
.textIntroDiv{
  
  a{
    display: block;
    animation: fadeInLeft 1.25s ease-in-out;
    margin-left: .75%;
    font-size: 1.25rem;

    padding-top: 2rem;
    padding-bottom: 1px;

    color: rgba(245,245,220, .5);
    text-decoration: none;
    transition: ease-in-out .5s;
    width: fit-content;

    border-bottom: 1px solid rgba(245,245,220, .5);
    user-select: none;

    @media screen and (min-width: 900px){
      &:hover{
        border: 1px solid #F5F5DC;
        padding: 1rem;
        color: #F5F5DC;

    } 
    }
  }
}