#contact{
    section{
        position: relative;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2vw;
            
            margin: 1rem;
            margin-top: 1.25rem;

            text-decoration: none;
            font-weight: 100;

            width: 100%;
            font-size: clamp(.5vw, 4vw,10vw);
            color: rgba(245,245,220, .5);
            font-family: 'Roboto Mono', monospace;
            cursor: pointer;
            svg{
                font-size: clamp(.5vw, 3.75vw,5vw);
            }
            &:hover{
                color: #F5F5DC; 
                transition: ease-in-out .15s;
            }
        }
        p{
            background-color: rgba(53, 69, 64);
            color: #F5F5DC;
            border: .5px solid #F5F5DC;
            padding: 3%;

            font-weight: 300;
            text-align: center;
            border-radius: 2.5px;

            width: 50%;


            letter-spacing: 1px;
            -webkit-animation: fadeInTop 1s ease-in-out;
            animation: fadeInTop 1s ease-in-out;
            
            transition: all 1.5s;
            position: absolute;
            top: 95%;
        }
        @keyframes fadeInTop {
            from {
              opacity: 0;
              transform: translateY(25%);
            }
            to {
              opacity: 1;
            }
          }
        .displayNone{
            opacity: 0;
            transition: all 1000ms linear;
        }
        h2{
            font-weight: 400;
            width: 100%;
            letter-spacing: .15em;
            text-align: center;
            font-size : clamp(.25rem, 5vw, 3.66rem);            
            color: #F5F5dC;
            margin-bottom: 0;
            
        }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            

            label{
                font-size: clamp(1rem, 1.2rem, 3rem);
                color: rgba(245,245,220, .5);
                font-family: 'Roboto Mono', monospace;

                outline: none;
                transition: ease-in-out .15s;
            }

            .inputGroup{
                display: flex;
                flex-direction: column-reverse;
                margin-top: 10px;
                padding: 0;
                input{
                    background-color: rgba(53, 69, 64);
                    border: none;
                    border-radius: 1px;
                    border-bottom: .5px solid #F5F5DC;
                    caret-color: #F5F5DC;
    
                    outline: none;
                    color: #F5F5DC;
                    padding: .5rem;
                    width: 100%;

                    font-size: 1.2rem;
                    
                }
                input:focus + label {
                    color: #F5F5DC;
                }
          
                textarea{
                    background-color: rgba(53, 69, 64);
                    border: none;
                    border-radius: 1px;
                    border-bottom: .5px solid #F5F5DC;
                    outline: none;

                    font-size: 1.2rem;
    
                    resize: none;
                    caret-color: #F5F5DC;
                    color: #F5F5DC;
                    padding: .5rem;
                    width: 100%;
                }
                textarea:focus + label {
                    color: #F5F5DC;
                }
            }
            .submitButton{
                margin-top: 20px;
                padding: 5%;
                background: rgba(53, 69, 64);
                border: none;
                border-radius: 2px;
                @media screen and (max-width: 900px){
                    border-radius: 0px;
                    font-size: 1.125rem;
                }
                

                font-size: clamp(1rem, 1.5rem, 3rem);
                color: rgba(245,245,220, .5);
                font-family: 'Roboto Mono', monospace;
                cursor: pointer;
                &:hover{
                    color: #F5F5DC;
                }
            }
        }
    }
}
@media screen and (min-width: 900px){
    #contact{
        section{
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2vw;
    
                width: 100%;
                margin-top: 2rem;
                font-size: clamp(.5vw, 2.25vw, 8vw);
                color: rgba(245,245,220, .5);
                font-family: 'Roboto Mono', monospace;
                cursor: pointer;
                svg{
                    font-size: clamp(.5vw, 2.5vw,5vw);
                }
            }
            p{
                padding: 2%;
                width: fit-content;
                top: 90%;
            }
            form{
                width: 75%;
                input[type=submit]{
                    padding: 2%;
                }
                label{
                    font-size: clamp(1rem, 2rem, 3rem);
                }
            }
        }
    }
}
