@media screen and (max-width: 600px) {
    .navigationBar ul{
        display: none;
    } 
    .navigationBar{
        z-index: 2;
        display: flex;
        justify-content: space-between;
        .mobileProjectLink{
            display: block;
            .linkBox{
                margin-left: 7.5vw;
                font-family: 'Roboto Mono', monospace;
                user-select: none;
                font-size: 1.25rem;
                color: rgba(245,245,220, .5);
                &:hover{
                    background-color: transparent;
                    border-color: #F5F5DC;
                    color: #F5F5DC;
                  }
            }
        } 

    }
}
