.footerDiv{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 66px;

    .footerDiv__a{
    @media screen and (max-width: 900px){
        display: block;
        width: 80%;

    }

    @media screen and (max-width: 400px){
        line-height: 1.5rem;
        width: 90%;
    }
    color: rgba(245,245,220, .5);
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    text-decoration: none;

    transition: ease-in-out .15s;

    font-size: clamp(1rem, 1.15rem, 1.75rem);        
    &:hover{
        color: #F5F5DC;
    }}

    
}